<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993169434851-3f35i56tg4a7jhag8bps7f6eggc4mhmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993169434851-3f35i56tg4a7jhag8bps7f6eggc4mhmi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>993169434851-249a62rs3pu37nuerkihhdqoqcklsdpn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_cgaZbpDKO3gwmvuseImOo7eta-AIXG4</string>
	<key>GCM_SENDER_ID</key>
	<string>993169434851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olaclick.pro</string>
	<key>PROJECT_ID</key>
	<string>olaclick-env-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>olaclick-env-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993169434851:ios:ea955021d115c36571fdd6</string>
</dict>
</plist>