<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639183083586-mt0hpdjtro75d88tjmbpag0lcee0t6l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639183083586-mt0hpdjtro75d88tjmbpag0lcee0t6l1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639183083586-3esquf7f6fa72u881uk83nt9qqftfb6d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvt6zQaM2EKa1DyP4FdXFGJQgnvL-mjDI</string>
	<key>GCM_SENDER_ID</key>
	<string>639183083586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olaclick.pro.prod</string>
	<key>PROJECT_ID</key>
	<string>olaclick-env-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>olaclick-env-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639183083586:ios:91fffd39bdc4b8160235db</string>
</dict>
</plist>